body{
    background-color: #606C38;
}
.knowme {
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: #606C38;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }
  .knowme::after {
    background-color: #606C38;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  .knowme:hover::after {
    transform: translate(0, 0);
  }
  .knowme:hover {
    border: 2px solid transparent;
    color: #FEFAE0;
    transform: scale(1.05);
    will-change: transform;
  }
  .contrastcolor {
    color: #FEFAE0;
    font-style: normal;
  }