/*--------------------------------------------------------------
# Declaration of Variables
--------------------------------------------------------------*/

:root {
  /* Color Palette */

  --maincolor: #100F0F;
  --accentcolor: #0F3D3E;
  --textcolor: #E2DCC8;
  --contrastcolor:#F1F1F1;

  /* Variables in RGB mode */
  --maincolorRGB: 16, 15, 15;
  --accentcolorRGB: 15, 61, 62;
  --textcolorRGB: 226, 220, 200;
  --contrastcolorRGB: 241, 241, 241;
}

/*--------------------------------------------------------------
# General Tags
--------------------------------------------------------------*/

body {
  background-color: var(--maincolor);
  color: var(--textcolor);
  accent-color: var(--contrastcolor);
}

footer {
  color: var(--textcolor);
  accent-color: var(--contrastcolor);
}

a {
  text-decoration: none;
  color: var(--textcolor);
}

a:hover {
  text-decoration: none;
  color: var(--contrastcolor);
}

/*--------------------------------------------------------------
# Main Page
--------------------------------------------------------------*/

.knowme {
  border: 2px solid var(--accentcolor);
  border-radius: 3rem;
  color: var(--maincolor);
  background-color: var(--textcolor);
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.knowme::after {
  background-color: var(--maincolor);
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.knowme:hover::after {
  transform: translate(0, 0);
}

.knowme:hover {
  border: 2px solid transparent;
  color: var(--textcolor);
  background-color: var(--accentcolor);
  transform: scale(1.05);
  will-change: transform;
}

.contrastcolor {
    color: var(--contrastcolor);
    font-style: normal;
  }

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--accentcolor);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: var(--contrastcolor);
  line-height: 0;
}

.back-to-top:hover {
  background: rgba(var(--textcolorRGB), 0.7);
  color: var(--contrastcolor);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--maincolor);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--accentcolor);
  border-top-color: var(--textcolor);
  border-bottom-color: var(--textcolor);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: var(--maincolor);
    border-right: 1px solid var(--accentcolor);
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--contrastcolor);
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: var(--accentcolor);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: var(--contrastcolor);
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  background: rgba(var(--textcolorRGB), 0.7);
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: var(--contrastcolor);
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: var(--contrastcolor);
  background-color: var(--textcolor);
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--textcolor);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--accentcolor);
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--contrastcolor);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--textcolor);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--contrastcolor);
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .nodecor:hover {
  text-decoration: none;
  color: var(--textcolor);
}

.about .content .nodecor:hover + a {
  color: var(--contrastcolor);
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
/* Titles in resume */
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--textcolor);
}

/* Lines in resume */
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--accentcolor);
  position: relative;
}

/* Titles of each item in resume */
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  font-weight: bolder;
  text-transform: capitalize;
  color: var(--textcolor);
  margin-bottom: 10px;
}

/* Years in resume */
.resume .resume-item h5 {
  font-size: 16px;
  background: var(--accentcolor);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--contrastcolor);
  border: 2px solid var(--accentcolor);
}

.resume .mycv {
  border: 2px solid var(--accentcolor);
  border-radius: 3rem;
  color: var(--maincolor);
  background-color: var(--textcolor);
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.resume .mycv::after {
  background-color: var(--maincolor);
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.resume .mycv:hover::after {
  transform: translate(0, 0);
}

.resume .mycv:hover {
  border: 2px solid transparent;
  color: var(--textcolor);
  background-color: var(--accentcolor);
  transform: scale(1.05);
  will-change: transform;
}

/* Whole Modal */
.resume .modal .modal-dialog .modal-content {
  background-color: var(--accentcolor);
  color: var(--textcolor);
}

/* Line Separator Modal Header to Body  */
.resume .modal .modal-header {
  border-bottom: solid var(--textcolor);
}

/* Close X Button */
.resume .modal .modal-header button {
  color: var(--contrastcolor);
}

/* Modal Height to almost all window */
.resume .modal .modal-dialog {
  height: 90%;
}

/* Content Inside Modal to Occupy All Modal */
.resume .modal .modal-content {
  height: 100%;
}

/* Adjust CV to modal */
.resume .modal .modal-body object, iframe {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

/* Separator Modal Body and Footer */
.resume .modal .modal-footer {
  border-top: solid var(--textcolor);
}

/* Bottom Buttons */
.resume .modal .btn-primary {
  background-color: var(--maincolor);
  color: var(--textcolor);
  border-color: var(--maincolor);
}

.resume .modal .btn-primary:hover {
  background-color: rgba(var(--maincolorRGB), 0.9);
  color: var(--contrastcolor);
  border-color: var(--maincolor);
}

.resume .modal .btn-outline-secondary {
  color: var(--textcolor);
  border-color: var(--textcolor);
}

.resume .modal .btn-outline-secondary:hover {
  background-color: rgba(var(--maincolorRGB), 0.2);
  color: var(--contrastcolor);
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

/* Filter Bar */
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: var(--accentcolor);
  border-radius: 50px;
  padding: 2px 15px;
}

/* Filter Bar Text */
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--textcolor);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: var(--contrastcolor);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

/* Outside Shadow of Each Box */
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(var(--accentcolorRGB), 0.7);
  border-radius: 10%;
}

/* Inside Shadow of Each Box */
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(var(--contrastcolorRGB), 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
  border-radius: 10%;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Border Top-Left */
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid var(--accentcolor);
  border-left: 3px solid var(--accentcolor);
  border-radius: 10%;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

/* Border Bottom-Right */
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid var(--accentcolor);
  border-right: 3px solid var(--accentcolor);
  border-radius: 10%;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

/* Title of the wrap */
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: var(--textcolor);
  font-weight: 600;
}

/* Subtitle of the wrap */
.portfolio .portfolio-wrap .portfolio-info p {
  color: var(--textcolor);
  -webkit-text-stroke: 0.15px var(--accentcolor);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: var(--accentcolor);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: var(--textcolor);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--accentcolor);
  opacity: 1;
  border: 1px solid var(--textcolor);
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--contrastcolor);
}

/* Arrows of image swiper */
.portfolio-details .portfolio-details-slider .swiper-button-next, .swiper-button-prev {
  color: rgba(var(--accentcolorRGB), 0.8);
  opacity: 0;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--accentcolor);
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
/* Outside Shadow Box */
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: rgba(var(--accentcolorRGB), 0.5);
  box-shadow: 0px 5px 90px 0px rgba(var(--accentcolorRGB), 0.01);
  border-radius: 10%;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: var(--accentcolor);
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

/* Title of each box */
.services .icon-box h4 a {
  color: var(--contrastcolor);
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: rgba(var(--accentcolorRGB), 0.5);
  padding: 50px;
  border-radius: 10%;
}

.contact .info i {
  font-size: 20px;
  color: var(--contrastcolor);
  float: left;
  width: 44px;
  height: 44px;
  background: var(--accentcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

/* Titles */
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--contrastcolor);
}

/* Values */
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--textcolor);
}

/* -- Maps Modal -- */

/* Whole Modal */
.contact .info .modal .modal-dialog .modal-content {
  background-color: var(--accentcolor);
  color: var(--textcolor);
}

/* Line Separator Modal Header to Body  */
.contact .info .modal .modal-header {
  border-bottom: solid var(--textcolor);
}

/* Close X Button */
.contact .info .modal .modal-header button {
  color: var(--contrastcolor);
}

/* Modal Height to almost all window */
.contact .info .modal .modal-dialog {
  height: 90%;
}

/* Content Inside Modal to Occupy All Modal */
.contact .info .modal .modal-content {
  height: 100%;
}

/* Adjust Map to modal */
.contact .info .modal .modal-body object, iframe {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

/* Separator Modal Body and Footer */
.contact .info .modal .modal-footer {
  border-top: solid var(--textcolor);
}

/* Bottom Buttons */
.contact .info .modal .btn-primary {
  background-color: var(--maincolor);
  color: var(--textcolor);
  border-color: var(--maincolor);
}

.contact .info .modal .btn-primary:hover {
  background-color: rgba(var(--maincolorRGB), 0.9);
  color: var(--contrastcolor);
  border-color: var(--maincolor);
}

.contact .info .modal .btn-outline-secondary {
  color: var(--textcolor);
  border-color: var(--textcolor);
}

.contact .info .modal .btn-outline-secondary:hover {
  background-color: rgba(var(--maincolorRGB), 0.2);
  color: var(--contrastcolor);
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: rgba(var(--textcolorRGB), 0.7);
  color: var(--contrastcolor);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: var(--textcolor);
  font-size: 14px;
  padding: 30px 0;
  padding-left: 100px;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--accentcolor);
  color: var(--contrastcolor);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: rgba(var(--textcolorRGB), 0.7);
  color: var(--contrastcolor);
  text-decoration: none;
}

#footer .credits {
  font-size: 13px;
}

/*--------------------------------------------------------------
# Custom css Functions
--------------------------------------------------------------*/

.blink {
  animation: blinker 1.1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}